* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: rgba(223, 230, 233, 1);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }
  
  #title {
    z-index: 1;
    background: rgba(223, 230, 233, 0.9);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*   overflow: hidden; */
    background-color: #474787;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-radius: 25px;
    opacity: 0.9;
  }
  
  li a,
  .dropbtn {
    display: inline-block;
    color: #c7ecee;
    text-align: center;
    padding: 14px 61px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
  }
  
  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: #706fd3;
    /*   color: #f7f1e3; */
    border-radius: 25px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #706fd3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1px;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #c7ecee;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #9980fa;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .sec {
    margin-top: 5px;
  }
  
  .main {
    margin: 40px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  img {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .item {
    width: 250px;
    margin: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    margin: 20px;
  }
  
  .container h1 {
    margin-bottom: 10px;
  }
  
  .book-title:hover {
    color: rgba(236, 204, 104, 1);
    cursor: pointer;
  }
  
  .author {
    color: rgba(132, 129, 122, 1);
  }
  
  .price {
    margin-top: 5px;
    /*   font-weight: bold; */
    font-size: 25px;
    display: flex;
  }
  
  .price span {
    display: flex;
    font-size: 15px;
    padding: 2px;
  }
  
  p button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(44, 58, 71);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    /*   align-self: flex-end; */
  }
  
  p button:hover {
    background: rgb(119, 140, 163);
  }
  