* {
  box-sizing: border-box;
  color: #5f6368;
}

body {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 15px;
  /*   margin: 0; */
  padding: 0;
}

.left,
.right {
  display: flex;
}

ul li {
  padding-left: 15px;
  line-height: 24px;
  margin: 0;
}

ul div li a {
  text-decoration: none;
  text-align: center;
  margin: 0;
}

ul div li a:hover {
  text-decoration: underline;
}

section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.search {
  margin-top: 25px;
  border-radius: 30px;
  width: 528px;
  height: 44px;
  position: relative;
  display: flex;
  border: 1px solid rgb(223, 225, 229);
}

.search:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search img {
  height: 24px;
  right: 14px;
  top: 10px;
  bottom: 10px;
  position: absolute;
}

.search img:hover {
  cursor: pointer;
}

input[type="text"] {
  width: 480px;
  height: 36px;
  position: absolute;
  left: 24px;
  bottom: 4px;
  border: none;
  outline: none;
}

input[type="submit"] {
  border: 1px solid #f2f2f2;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 4px;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: #222;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.buttons {
  justify-content: space-around;
  margin-top: 25px;
}

/* footer nav {
    margin: 0;
    padding: 0; 
} */

footer nav ul {
  width: 100%;
  margin: 0;
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(223, 225, 229);
}

footer nav ul li {
  line-height: 40px;
}

.app {
  width: 18px;
  color: #5f6368;
  top: 4px;
  position: relative;
}

.sign {
  border: 1px solid #4285f4;
  background: #4285f4;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
  padding: 5px 12px;
  border-radius: 2px;
}
